{% extends "admin/change_form.html" %}

{% block after_related_objects %}
<script type="text/javascript">
    (function($){
        $(function(){
            // Subregion Buttons
            $.getJSON("/api/v1/subregions/", 
                {
                    "format": "json"
                },
                function (data) {
                    $("<p>Or select all municipalities in a subregion:</p>").appendTo("div.municipalities div.column.span-flexible");
                    $.each(data.objects, function (key, subregion) {
                        var $button = $("<button/>", {
                            id: subregion.abbr,
                            title: subregion.name,
                            style: "margin-right: 8px",
                            text: subregion.abbr
                        })
                        .data("municipalities", subregion.municipalities.split(","))
                        .bind("click", function(event) {
                            event.preventDefault();
                            $("#id_municipalities").val($(this).data("municipalities"));
                        })
                        .appendTo("div.municipalities div.column.span-flexible");
                    });
            });
        });
    }(django.jQuery));
</script>
{% endblock %}

