{% extends "admin/change_form.html" %}

{% block after_related_objects %}
<script type="text/javascript">
    (function($){
        $(function(){

            // Strategies and Supergoals are read-only for user, but need to be saved with the form
            $("#id_strategies, #id_supergoals").prop("disabled", true);
            $("div.strategies p.help").text("Read-only field: Strategies are automatically selected with corresponding SubStrategies.");
            $("div.supergoals p.help").text("Read-only field: Supergoals are automatically selected with corresponding Goals.");
            $("#project_form").bind("submit", function(event) {
                $("#id_strategies, #id_supergoals").prop("disabled", false);
            });
            
            // Select Strategies with SubStrategies
            $("#id_substrategies").bind("change", function(event) {
                $("#id_strategies option:selected").removeAttr("selected");
                var strategies = [];
                $(this).children("option:selected").each(function() {
                    strategies.push($(this).text().split(".")[0]);
                });
                $("#id_strategies").val(strategies);
            });

            // Select Supergoals with Goals
            $("#id_goals").bind("change", function(event) {
                $("#id_supergoals option:selected").removeAttr("selected");
                $(this).children("option:selected").each(function() {
                    var pattern = /\((.+?)\)/g;
                    // returns '(CV)' for instance
                    var supergoal = pattern.exec($(this).text())[0];
                    $("#id_supergoals > option:contains('" + supergoal + "')").attr("selected", "selected");
                });
            });
            
            // Subregion Buttons
            $.getJSON("/api/v1/subregions/", 
                {
                    "format": "json"
                },
                function (data) {
                    $("<p>Or select all municipalities in a subregion:</p>").appendTo("div.municipalities div.column.span-flexible");
                    $.each(data.objects, function (key, subregion) {
                        var $button = $("<button/>", {
                            id: subregion.abbr,
                            title: subregion.name,
                            style: "margin-right: 8px",
                            text: subregion.abbr
                        })
                        .data("municipalities", subregion.municipalities.split(","))
                        .bind("click", function(event) {
                            event.preventDefault();
                            $("#id_municipalities").val($(this).data("municipalities"));
                        })
                        .appendTo("div.municipalities div.column.span-flexible");
                    });
            });
        });

    }(django.jQuery));
</script>
{% endblock %}

