<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
<title>Get Involved in the MAPC Action Campaigns! | MetroFuture</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <!-- Additional IE/Win specific style sheet (Conditional Comments) -->
      <!--[if IE]>
      <style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/jstools/tabs/tabs-ie.css";</style>
      <![endif]-->
    
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/img_filter/img.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/modules/node/node.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/modules/system/defaults.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/modules/system/system.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/modules/user/user.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/cck/content.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/fckeditor/fckeditor.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/jstools/tabs/drupal-tabs.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/jstools/tabs/tabs.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/faceted_search/faceted_search_ui.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/themes/mfuture/style.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/themes/mfuture/layout.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/themes/mfuture/typography.css";</style>
<script type="text/javascript" src="http://www.metrofuture.org/misc/jquery.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/misc/drupal.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/misc/progress.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/jstools/jstools.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/jstools/activesearch/activesearch.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/jstools/jquery.history_remote.pack.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/jstools/tabs/jquery.tabs.pack.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/jstools/tabs/tabs.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/image_caption/image_caption.js"></script>
<script type="text/javascript">Drupal.extend({ settings: { "jstools": { "cleanurls": true, "basePath": "/" }, "tabs": { "slide": false, "fade": false, "speed": "slow", "auto_height": false, "next_text": "next", "previous_text": "previous" } } });</script>

<!--[if gte IE 6]>
<style type="text/css">
#main {
  margin: 1em 0 0 0;
}
#block-menu_trim-2 ul.menu li a {
	font-size:1.0em;
}
#block-menu_trim-2 ul.menu li ul li a {
	font-size:0.9em;
}
#title {
margin-left: 20px;
margin-right: 20px;
}
.content h2
{  padding: 0 20px 0 20px; }
</style>
<![endif]-->


<style type="text/css">
  #map {
    width: 624px;
    height: 468px;
  }
  .mapfilter {
    width: 134px;
    margin-left: 6px;
    margin-bottom: 6px;
  }
  .filterlabel {
    width: 60px;
    color: #FFFFFF;
    padding: 0 12px;
    float: left;
  }
  #main {
    width: 624px;
    background-color: #fff;
    margin-top: 0px;
  }
  #project-detail h3, #project-detail h3 a {
    color: #5D9432;
    margin-left: 0px;
    clear: left;
  }
  #project-detail .thumbnail {
    float: left;
    margin: 12px 6px 12px 0;
  }
  .content h2.title {
    margin-bottom: 12px !important;
  }
  h2.searchresult {
    margin-left: 0px;
  }
</style>

<!-- leaflet -->
<link rel="stylesheet" href="{{ STATIC_URL }}libs/leaflet/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.ie.css" /><![endif]-->
<script src="{{ STATIC_URL }}libs/leaflet/leaflet.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/mapc-layers.js"></script>


</head>

<body>

<div id="wrapper">
<div id="bgcolumns">
<div id="header">

  <div id="branding">
        <a href="http://www.metrofuture.org/"><img src="http://www.metrofuture.org/themes/mfuture/images/header.jpg" /></a>
  </div>

  <div id="header-additional">
  <a href="http://www.mapc.org"><img src="http://www.metrofuture.org/themes/mfuture/images/mapc_logo.png" align="left" /></a>
  </div>
  
<div style="clear:right;float:right;text-align:right;">

    <div id="browse" class="container-inline">
		<div class="block block-block" id="block-block-45">
  <div class="content"><form>
    <input type="button" class="form-submit" value="Browse Recommendations" onClick="window.location='/actions'" />
</form>
</div>
</div>

	</div>    
	<form action="/search/node"  accept-charset="UTF-8" method="post" id="search-theme-form">
<div><div id="search" class="container-inline"><div class="form-item">
 <input type="text" maxlength="128" name="search_theme_form_keys" id="edit-search-theme-form-keys"  size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
</div>
<input type="submit" name="op" id="edit-submit" value="Search"  class="form-submit" />
<input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form"  />
</div>
</div></form>
  </div>


  <div id="menu">
      <ul class="links primary_menu"><li class="first menu-1-1-2"><a href="http://www.metrofuture.org/content/what-metrofuture" class="menu-1-1-2">What is MetroFuture?</a></li>
<li class="menu-1-2-2"><a href="http://www.metrofuture.org/content/metrofuture-scenario" class="menu-1-2-2">Our Goals</a></li>
<li class="menu-1-3-2"><a href="http://www.metrofuture.org/strategies" class="menu-1-3-2">Implementation Strategies</a></li>
<li class="menu-1-4-2"><a href="http://www.metrofuture.org/content/metrofuture-walks-and-talks" class="menu-1-4-2">MetroFuture Walks &amp; Talks</a></li>
<li class="menu-1-5-2"><a href="http://www.metrofuture.org/content/regional-events" class="menu-1-5-2">Regional Events</a></li>
<li class="menu-1-6-2-active"><a href="http://www.metrofuture.org/content/measuring-progress" title="Measuring Progress" class="active menu-1-6-2-active">Measuring Progress</a></li>
<li class="menu-1-7-2"><a href="http://www.metrofuture.org/content/get-involved-mapc-action-campaigns" class="menu-1-7-2">Advocacy</a></li>
<li class="last menu-1-8-2"><a href="http://www.metrofuture.org/contact" class="menu-1-8-2">Contact</a></li>
</ul>    </div>

</div>

  <div id="breadcrumb"><div class="breadcrumb"><a href="http://www.metrofuture.org/">Home</a></div></div>

<div id="content">

<div id="sidebar-left" class="sidebar">

  <div class="block block-menu_trim" id="block-menu_trim-2">
  <div class="content">
    <h2 class="title"><span>Filter Projects By:</span></h2>

    <!-- MAP FILTERS -->

    <div class="filterlabel"><label>Name:</label></div>
    <input class="mapfilter" type="text" id="name">

    <div class="filterlabel"><label>Municipality:</label></div>
    <select class="mapfilter" id="municipalities">
      <option value="">-- Show all --</option>
    </select>

    <div class="filterlabel"><label>Supergoal:</label></div>
    <select class="mapfilter" id="supergoals">
      <option value="">-- Show all --</option>
    </select>

    <div class="filterlabel"><label>Goal:</label></div>
    <select class="mapfilter" id="goals">
      <option value="">-- Show all --</option>
    </select>

    <div class="filterlabel"><label>Strategy:</label></div>
    <select class="mapfilter" id="strategies">
      <option value="">-- Show all --</option>
    </select>

    <div class="filterlabel"><label>Status:</label></div>
    <select class="mapfilter" id="status">
      <option value="">-- Show all --</option>
    </select>

    <p>
      <button id="filter-btn">Search</button>
    </p>
</div>
</div>

</div>

<div id="main" class="map_container">

  <h2 id="title">MetroFuture In Action Map</h2>
<div class="content">
<div id="map">MetroFuture In Action Map</div>

<div id="filter-help">
  <p>Please use project filter options to narrow your search.</p>
</div>


<div id="project-detail"></div>

</div>
</div>

</div>


<div id="footer" class="footer">
  
<div class="block block-block" id="block-block-16">
  <div class="content"><p><strong>Metropolitan Area Planning Council </strong>| 60 Temple Place | Boston, MA 02111 | TEL 617.451.2770 | FAX 617.482.7185 | <a href="mailto:metrofuture@mapc.org">metrofuture@mapc.org</a></p>
</div>
</div>

<div class="block block-block" id="block-block-1">
  <div class="content"><p><a href="http://www.metrofuture.org/home">home</a> | <a href="http://www.metrofuture.org/contact">contact us</a> | <a href="http://www.metrofuture.org/user">login</a></p>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6941372-2");
pageTracker._trackPageview();
} catch(err) {}</script></div>
</div>

</div>

</div>
</div>



<script type="text/javascript">

$(document).ready(function() {

  var baseUrl = "http://localhost:8000", 
      filter = { "format": "json" },
      goals = {};

  /* 
   * utils 
   */

  // AJAX spinner
  $.spinner = {
    show: function () {
      $("#title").css("background", "url('{{ STATIC_URL }}img/spinner.gif') no-repeat right");
    },
    hide : function () {
      $("#title").css("background", "");
    }
  }

  // show municipalities with project list in popup
  $.renderMunicipalities = function(municipalities, layer) {
    $.each(municipalities, function (key, municipality) {
      var feature = {
        "type": "Feature",
        "geometry": municipality.geometry,
        "properties": {
          "popupContent": "<b>All projects in " + municipality.name + ":</b><ul>"
        }
      }
      $.each(municipality.projects, function (key, project) { 
        if (project.active === true) feature["properties"]["popupContent"] += "<li><a class='project_uri' onclick='$.showProject("+ project.id +")' href='javascript:void(0)'>" + project.name + "</a></li>";
      });
      feature["properties"]["popupContent"] += "</ul>";
      layer.addGeoJSON(feature);
    });
    // zoom to layer bounds
    map.fitBounds(layer.getBounds());
  }

  // called from municipal popup link
  // renders project municipalities and detail project info
  $.showProject = function (projectId) {
    $.spinner.show();
    $.getJSON(baseUrl + "/api/v1/municipalities/", 
      {
        "format": "json",
        "projects": projectId
      },
      function (data) {
        // clear previous data
        projectLayer.clearLayers();
        $("#project-detail").empty();
        // show project municipalities
        var municipalities = data.objects;
        $.renderMunicipalities(municipalities, projectLayer);
        // show project details beneath map
        $.getJSON(baseUrl + "/api/v1/projects/" + projectId + "/",
        { "format": "json"}, 
        function (project) {
          if (project.url !== "") project.name = "<a href='" + project.url + "' target='_blank'>" + project.name + "</a>";
          $("<h3>" + project.name + "</h3>").appendTo("#project-detail");
          if (project.thumbnail) $("<img class='thumbnail' src='" + project.thumbnail + "' width='160' height='120'>").appendTo("#project-detail");
          if (project.desc !== "") $("<p>" + project.desc.replace(/\r\n/g, "<br />").replace(/\n/g, "<br/>") + "</p>").appendTo("#project-detail");
        });
        $.spinner.hide();
        $("#filter-help").hide();
    });
  }

  /* 
   * page
   */

  $.spinner.show();

  // build default map
  var map = new L.Map('map',{
    minZoom: 9
  });

  var basemap = new L.MAPCTileLayer("basemap");

  var boston = new L.LatLng(42.357778, -71.061667); // geographical point (longitude and latitude)
  map.setView(boston, 9).addLayer(basemap);


  // municipal layer
  var municipalityLayer = new L.GeoJSON();
  municipalityLayer.on("featureparse", function (e) {
    if (e.properties && e.properties.popupContent) {
      e.layer.bindPopup(e.properties.popupContent);
    } 
    e.layer.setStyle({
        "color": "#709bc5", // project specific
        "weight": 1,
        "opacity": 0.9
      });
  });
  map.addLayer(municipalityLayer);


  // project layer and details
  var projectLayer = new L.GeoJSON();
  projectLayer.on("featureparse", function (e) {  
    if (e.properties && e.properties.popupContent) {
      e.layer.bindPopup(e.properties.popupContent);
    }   
    e.layer.setStyle({
      "weight": 1,
      "opacity": 0.9,
      "color": "#5D9432", // project specific
      "fillOpacity": 0.4
    });
  });
  map.addLayer(projectLayer);


  // init: build filter options
  $.getJSON(baseUrl + "/filters/",
    function (filters) {
      // extract goals filter
      goals = filters["goals"];
      $.each(filters, function (filterKey, filter) {
        $.each(filter, function (optionKey, option) {
          $("<option value='" + option.id + "'>" + option.name + "</option>").appendTo(".mapfilter #" + filterKey);
        });
        $(".mapfilter #" + filterKey).val("");
      }); 
      // load municipalities
      $.getJSON(baseUrl + "/api/v1/municipalities/", 
        {"format": "json"},
        function (data) {
          $.renderMunicipalities(data.objects, municipalityLayer);
          $.spinner.hide();
      });       
  });


  // filter projects
  $("select.mapfilter").change(function() {   
    var selectedFilter = $("option:selected", this);     
    // build query
    var filterProperty = selectedFilter.parent().attr("id");
    var filterValue = selectedFilter.val();
    // remove empty or update new filter query
    if (selectedFilter.val() === "") {
      delete filter[filterProperty];
    } else {
      filter[filterProperty] = filterValue;
    }

    // adjust goals filter to selected supergoal
    if (filterProperty === "supergoals") {
      // clear options
      $(".mapfilter #goals").children().remove();
      $("<option value=''>-- Show all --</option>").appendTo(".mapfilter #goals");
      if (filterValue >= 1) {  
        // iterate through goal filter and attache all supergoal = supergoal items to selector
        $.each(goals, function (key, goal) {
          if (goal["supergoal"] === parseInt(filterValue)) {
            $("<option value='" + goal["id"] + "'>" + goal["name"] + "</option>").appendTo(".mapfilter #goals");
          }
        });
      } else if (filterValue === "") {
        // clear goal filter
        if (filter["goals"]) delete filter["goals"];
        // rebuild goal dropdown with entire list
        $.each(goals, function (key, goal) {
          $("<option value='" + goal["id"] + "'>" + goal["name"] + "</option>").appendTo(".mapfilter #goals");
        });
      }
      $(".mapfilter #goals").val("");
    }
  });
  // text filter
  $("input.mapfilter").bind("change", function() {
    if ($(this).val() !== "") {
      filter["name__icontains"] = $(this).val();
    } else {
      if (filter["name__icontains"]) delete filter["name__icontains"];
    }
  });


  // search for projects
  $.searchProjects = function() {
    $.spinner.show();
    // clear map and project layer
    municipalityLayer.clearLayers();
    projectLayer.clearLayers();
    $("#project-detail").empty();
    // determining if a filter was chosen
    filterLen = 0;
    for (var i in filter) {
      filterLen++
    }
    if (filterLen === 1) {
      // show default municipal map
      $.getJSON(baseUrl + "/api/v1/municipalities/", 
        {"format": "json"},
        function (data) {
          $.renderMunicipalities(data.objects, municipalityLayer);
          $.spinner.hide();
          $("#filter-help").show();
      });
    } else {
      // query projects with filter
      $.getJSON(baseUrl + "/api/v1/projects/",
      filter,
      function (data) {
        var resultProjects = data.objects;
        var resultCount = data.meta.total_count;
        // search result header
        if (resultCount > 0) {
          var projectNoun = (resultCount === 1) ? "Project" : "Projects";
          $("<h2 class='searchresult'>" + resultCount + " " + projectNoun + " found:</h2>").appendTo("#project-detail");
          // project list TODO: copy of line 300, not ideal...
          $.each(resultProjects, function (key, project) {
            if (project.url !== "") project.name = "<a href='" + project.url + "' target='_blank'>" + project.name + "</a>";
            $("<h3>" + project.name + "</h3>").appendTo("#project-detail");
            if (project.thumbnail) $("<img class='thumbnail' src='" + project.thumbnail + "' width='160' height='120'>").appendTo("#project-detail");
            if (project.desc !== "") $("<p>" + project.desc.replace(/\r\n/g, "<br />").replace(/\n/g, "<br/>") + "</p>").appendTo("#project-detail");
          });
          // build municipal filter, prepend "projects__" or get by muni_id
          var muniFilter = {};
          var muniId = "";
          $.each(filter, function (filterKey, filter) {
            if (filterKey !== "format" && filterKey !== "municipalities") {
              muniFilter["projects__" + filterKey] = filter;
            } else if (filterKey === "municipalities") {
              muniId = filter + "/";
            } else {
              muniFilter[filterKey] = filter;
            }
          });
          // query municipalities
          $.getJSON(baseUrl + "/api/v1/municipalities/" + muniId,
            muniFilter,
            function (data) {
              // render municipalities
              var municipalities = (muniId === "") ? data.objects : [data];
              $.renderMunicipalities(municipalities, municipalityLayer);
              $.spinner.hide();
              $("#filter-help").hide();
          });
        } else {
          $("<h2 class='searchresult'>No Projects found.</h2>").appendTo("#project-detail");
          $.spinner.hide();
          $("#filter-help").hide();
        }
        
      });
    }
  }

  // execute filter
  $(".mapfilter").keyup(function(e) {
    // enter key
    if(e.keyCode == 13) {
      $.searchProjects();
    }
  });
  $("#filter-btn").bind("click", function() {
    $.searchProjects();
  });

});

</script>

</body>
</html>
