<div class="project">

  <!-- URL OPEN -->
  {% if project.url %}
    <a href="{{ project.url }}" target='_blank'>
  {% endif %}

    <!-- TITLE -->
    <h3>{{ project.name }}</h3>

  <!-- URL CLOSED -->
  {% if project.url %}
    </a>
  {% endif %}

  <div class="row">
    {% if project.thumbnail %}
      <div class="col-md-3">
        <img class='thumbnail' src="http://projects.metrofuture.org/media/{{ project.thumbnail }}" width="200">
      </div>
    {% endif %}

    {% if project.desc %}
      {% if project.thumbnail %}
        <div class="col-md-6">
      {% else %}
        <div class="col-md-9">
      {% endif %}
        <p class='description'>
          {{ project.desc }}
        </p>
      </div>
    {% endif %}
  </div>
  <hr/>

</div>