<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
<title>Get Involved in the MAPC Action Campaigns! | MetroFuture</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <!-- Additional IE/Win specific style sheet (Conditional Comments) -->
      <!--[if IE]>
      <style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/tabs-ie.css";</style>
      <![endif]-->
    
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/img.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/node.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/defaults.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/system.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/user.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/content.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/fckeditor.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/drupal-tabs.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/tabs.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/faceted_search_ui.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/style.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/layout.css";</style>
<style type="text/css" media="all">@import "{{ STATIC_URL }}legacy/css/typography.css";</style>
<script type="text/javascript" src="{{ STATIC_URL }}legacy/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}legacy/js/drupal.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}legacy/js/progress.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}legacy/js/jstools.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}legacy/js/activesearch.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}legacy/js/jquery.history_remote.pack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}legacy/js/jquery.tabs.pack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}legacy/js/tabs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}legacy/js/image_caption.js"></script>
<script type="text/javascript">Drupal.extend({ settings: { "jstools": { "cleanurls": true, "basePath": "/" }, "tabs": { "slide": false, "fade": false, "speed": "slow", "auto_height": false, "next_text": "next", "previous_text": "previous" } } });</script>

<!--[if gte IE 6]>
<style type="text/css">
#main {
  margin: 1em 0 0 0;
}
#block-menu_trim-2 ul.menu li a {
	font-size:1.0em;
}
#block-menu_trim-2 ul.menu li ul li a {
	font-size:0.9em;
}
#title {
margin-left: 20px;
margin-right: 20px;
}
.content h2
{  padding: 0 20px 0 20px; }
</style>
<![endif]-->


<style type="text/css">
  #map {
    width: 624px;
    height: 468px;
  }
  .mapfilter {
    width: 134px;
    margin-left: 6px;
    margin-bottom: 6px;
  }
  .filterlabel {
    width: 70px;
    color: #FFFFFF;
    padding: 0 12px;
    float: left;
  }
  hr.grouper {
    margin: 4px 14px 8px 12px;
    color: #22517E;
    border-top: solid 1px #fff;
    border-bottom: none;
  }
  #main {
    width: 624px;
    background-color: #fff;
    margin-top: 0px;
  }
  #project-detail h3, #project-detail h3 a {
    color: #5D9432;
    margin-left: 0px;
    clear: left;
  }
  #project-detail .thumbnail {
    float: left;
    margin: 12px 6px 12px 0;
  }
  .content h2.title {
    margin-bottom: 12px !important;
  }
  h2.searchresult {
    margin-left: 0px;
  }
</style>

<!-- leaflet -->
<link rel="stylesheet" href="{{ STATIC_URL }}libs/leaflet/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}libs/leaflet/leaflet.ie.css" /><![endif]-->
<script src="{{ STATIC_URL }}libs/leaflet/leaflet.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/mapc-layers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.url.js"></script>


</head>

<body>

<div id="wrapper">
<div id="bgcolumns">
<div id="header">

  <div id="branding">
        <a href="http://www.mapc.org/metrofuture"><img src="{{ STATIC_URL }}legacy/img/header.jpg" /></a>
  </div>

  <div id="header-additional">
  <a href="http://www.mapc.org"><img src="{{ STATIC_URL }}legacy/img/mapc_logo.png" align="left" /></a>
  </div>
  



  <div id="menu">
      <ul class="links primary_menu">
<li class="menu-1-6-2-active"><a href="/" title="Measuring Progress" class="active menu-1-6-2-active">Measuring Progress</a></li>
</ul>    </div>

</div>


<div id="content">

{% block content %}

<div id="sidebar-left" class="sidebar">

  <div class="block block-menu_trim" id="block-menu_trim-2">
  <div class="content">
    <h2 class="title"><span>Filter Projects By:</span></h2>

    <!-- MAP FILTERS -->

    <div class="filterlabel"><label>Name:</label></div>
    <input class="mapfilter" type="text" id="name" name="name" value="" />

    <hr class="grouper">

    <div class="filterlabel"><label>Subregion:</label></div>
    <select class="mapfilter" id="subregions" name="municipalities__subregion">
      <option value="">-- Show all --</option>
    </select>

    <div class="filterlabel"><label>Municipality:</label></div>
    <select class="mapfilter" id="municipalities" name="municipalities">
      <option value="">-- Show all --</option>
    </select>

    <hr class="grouper">

    <div class="filterlabel"><label>Goal:</label></div>
    <select class="mapfilter" id="supergoals" name="supergoals">
      <option value="">-- Show all --</option>
    </select>

    <div class="filterlabel"><label>Subgoal:</label></div>
    <select class="mapfilter" id="goals" name="goals">
      <option value="">-- Show all --</option>
    </select>

    <hr class="grouper">

    <div class="filterlabel"><label>Strategy:</label></div>
    <select class="mapfilter" id="strategies" name="strategies">
      <option value="">-- Show all --</option>
    </select>

    <div class="filterlabel"><label>Substrategy:</label></div>
    <select class="mapfilter" id="substrategies" name="substrategies">
      <option value="">-- Show all --</option>
    </select>

    <hr class="grouper">

    <div class="filterlabel"><label>Status:</label></div>
    <select class="mapfilter" id="status" name="status">
      <option value="">-- Show all --</option>
    </select>

    <p>
      <button id="filter-btn">Search</button>
    </p>
</div>
</div>

</div>

<div id="main" class="map_container">

  <h2 id="title">MetroFuture In Action Map</h2>
<div class="content">
<div id="map">MetroFuture In Action Map</div>

<div id="filter-help">
  <p>Please use project filter options to narrow your search.</p>
</div>


<div id="project-detail"></div>

</div>
</div>

{% endblock %}

</div>


<div id="footer" class="footer">
  
<div class="block block-block" id="block-block-16">
  <div class="content"><p><strong>Metropolitan Area Planning Council </strong>| 60 Temple Place | Boston, MA 02111 | TEL 617.451.2770 | FAX 617.482.7185 | <a href="mailto:metrofuture@mapc.org">metrofuture@mapc.org</a></p>
</div>
</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6941372-2");
pageTracker._trackPageview();
} catch(err) {}</script>

</div>

</div>
</div>



<script type="text/javascript">

// IE8 indexOf fix
if (!Array.prototype.indexOf) {
  Array.prototype.indexOf = function(obj, start) {
   for (var i = (start || 0), j = this.length; i < j; i++) {
       if (this[i] === obj) { return i; }
   }
   return -1;
  }
}

$(document).ready(function() {

  var baseUrl = "http://projects.metrofuture.org", 
      filterdata = {},
      filtermap = {

      };

  // see if we have a permalink
  var url_param = $.url().param();
  var filter = $.extend( { "format": "json" }, url_param);

  /* 
   * utils 
   */

  // AJAX spinner
  $.spinner = {
    show: function () {
      $("#title").css("background", "url('{{ STATIC_URL }}img/spinner.gif') no-repeat right");
    },
    hide : function () {
      $("#title").css("background", "");
    }
  }

  // show municipalities with project list in popup
  $.renderMunicipalities = function(municipalities, layer) {
    $.each(municipalities, function (key, municipality) {
      var feature = {
        "type": "Feature",
        "geometry": municipality.geometry,
        "properties": {
          "popupContent": "<b>All projects in " + municipality.name + ":</b><ul>"
        }
      }
      $.each(municipality.projects, function (key, project) { 
        if (project.active === true) feature["properties"]["popupContent"] += "<li><a class='project_uri' onclick='$.showProject("+ project.id +")' href='javascript:void(0)'>" + project.name + "</a></li>";
      });
      feature["properties"]["popupContent"] += "</ul>";
      layer.addData(feature);
    });
    // zoom to layer bounds
    map.fitBounds(layer.getBounds());
  }

  // called from municipal popup link
  // renders project municipalities and detail project info
  $.showProject = function (projectId) {
    $.spinner.show();
    $.getJSON(baseUrl + "/api/v1/municipalities/", 
      {
        "format": "json",
        "projects": projectId
      },
      function (data) {
        // clear previous data
        projectLayer.clearLayers();
        $("#project-detail").empty();
        // show project municipalities
        var municipalities = data.objects;
        $.renderMunicipalities(municipalities, projectLayer);
        // show project details beneath map
        $.getJSON(baseUrl + "/api/v1/projects/" + projectId + "/",
        { "format": "json"}, 
        function (project) {
          if (project.url !== "") project.name = "<a href='" + project.url + "' target='_blank'>" + project.name + "</a>";
          $("<h3>" + project.name + "</h3>").appendTo("#project-detail");
          if (project.thumbnail) $("<img class='thumbnail' src='" + project.thumbnail + "' width='160' height='120'>").appendTo("#project-detail");
          if (project.desc !== "") $("<p>" + project.desc.replace(/\r\n/g, "<br />").replace(/\n/g, "<br/>") + "</p>").appendTo("#project-detail");
        });
        $.spinner.hide();
        $("#filter-help").hide();
    });
  }

  // sort dropdowns by text
  // sort can't be called on jQuery object, maybe jQuery v1 issue
  // need to translate jQuyer object to array before sorting
  $.sortDropDownListByText = function (selector) {
    var foption = $(selector + " option:first");
    var ddlist = [];
    $.each($(selector + " option:not(:first)"), function (key, option) {
      ddlist.push(option)
    });
    ddlist.sort(function(a, b) {
       return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
    });
    $.each(ddlist, function (key, option) {
      $(selector).append(option);
    });
    $(selector).prepend(foption);
  };

  // adjust sub-dropdowns according to selection in parent dropdowns
  $.adjustChildFilter = function (filterProperty, filterValue) {

    var doit = function (dropdownSelector, childrenFull, childrenSublist) {
      // clear child dropdown
      $(dropdownSelector).children().remove();
      $(dropdownSelector).append("<option value=''>-- Show all --</option>");
      if (childrenSublist.length > 0) {
        // build child dropdown subset
        $.each(childrenSublist, function(key, childId) {
          $(dropdownSelector).append("<option value='" + childId + "'>" + childrenFull[childId]["name"] + "</option>");
        });
      } else {
        // clear child filter
        var childfilterName = $(dropdownSelector).attr("id");
        if (filter[childfilterName]) delete filter[childfilterName];
        // rebuild goal dropdown with entire list
        $.each(childrenFull, function (key, child) {
          $(dropdownSelector).append("<option value='" + key + "'>" + child["name"] + "</option>");
        });
      }
      // sort
      $.sortDropDownListByText(dropdownSelector);
      // default selection
      $(dropdownSelector).val("");
    }

    // switch
    if (filterProperty === "municipalities__subregion") doit("#municipalities", filterdata.municipalities, ((filterValue === "") ? [] : filterdata.subregions[filterValue].municipalities));
    if (filterProperty === "supergoals") doit("#goals", filterdata.goals, ((filterValue === "") ? [] : filterdata.supergoals[filterValue].goals));
    if (filterProperty === "strategies") doit("#substrategies", filterdata.substrategies, ((filterValue === "") ? [] : filterdata.strategies[filterValue].substrategies));
  
  }


  /* 
   * page
   */

  $.spinner.show();

  // build default map
  var map = new L.Map('map',{
    minZoom: 9
  });

  var basemap = new L.MAPCTileLayer("basemap");

  var boston = new L.LatLng(42.357778, -71.061667); // geographical point (longitude and latitude)
  map.setView(boston, 9).addLayer(basemap);


  // municipal layer
  var municipalityLayer = L.geoJson(null, {
    style: {
        "color": "#709bc5", // project specific
        "weight": 1,
        "opacity": 0.9
    },
    onEachFeature: function (feature, layer) {
      if (feature.properties && feature.properties.popupContent) {
        layer.bindPopup(feature.properties.popupContent);
      } 
    }
  }).addTo(map);


  // project layer and details
  var projectLayer = L.geoJson(null, {
    style: {
      "weight": 1,
      "opacity": 0.9,
      "color": "#5D9432", // project specific
      "fillOpacity": 0.4
    },
    onEachFeature: function (feature, layer) {
      if (feature.properties && feature.properties.popupContent) {
        layer.bindPopup(feature.properties.popupContent);
      } 
    }
  }).addTo(map);


  // init: build filter options
  $.getJSON(baseUrl + "/filters/",
    function (data) {
      console.log(data);
      // make globally available
      filterdata = data;
      $.each(filterdata, function (filterKey, filter) {
        $.each(filter, function (optionKey, option) {
          // build dropdown
          $("<option value='" + optionKey + "'>" + option.name + "</option>").appendTo(".mapfilter #" + filterKey);
          // serialize string as lists
          if (filterKey === "subregions") this.municipalities = this.municipalities.split(",");
          if (filterKey === "supergoals") this.goals = this.goals.split(",");
          if (filterKey === "strategies") this.substrategies = this.substrategies.split(",");

        });
        $(".mapfilter #" + filterKey).val("");
        $.sortDropDownListByText("#" + filterKey);
      }); 

      var filterLen = 0;
      for (var i in filter) {
        filterLen++
      }
      if (filterLen === 1 && filter["format"] === "json") { 
        // default map with all municipalities
        $.getJSON(baseUrl + "/api/v1/municipalities/", 
          {"format": "json"},
          function (data) {
            $.renderMunicipalities(data.objects, municipalityLayer);
            $.spinner.hide();
        });
      } else { 
        // we have url parameters
        for (var i in filter) {
          if (i !== "format") {
            if (["municipalities__subregion", "supergoals", "strategies"].indexOf(i) != -1) {
              // it's a parent selector dropdown
              // adjust child dropdown
              $.adjustChildFilter(i, filter[i]);
            }
            var filterElement=document.getElementsByName(i.replace("__icontains", ""));
            $(filterElement).val(filter[i]);
          }
        }
        $.searchProjects();
      } 
  });


  // filter projects
  $("select.mapfilter").change(function() {   
    var selectedFilter = $("option:selected", this);     
    // build query
    var filterProperty = selectedFilter.parent().attr("name");
    var filterValue = selectedFilter.val();
    // remove empty or update new filter query
    if (selectedFilter.val() === "") {
      delete filter[filterProperty];
    } else {
      filter[filterProperty] = filterValue;
    }

    // adjust dropdowns
    $.adjustChildFilter(filterProperty, filterValue);

  });
  // text filter
  $("input.mapfilter").bind("change", function() {
    if ($(this).val() !== "") {
      filter["name__icontains"] = $(this).val();
    } else {
      if (filter["name__icontains"]) delete filter["name__icontains"];
    }
  });


  // search for projects
  $.searchProjects = function() {
    /*
     * We search for projects, build the project list
     * and then request municipalities as GeoJSON 
     * to render the map
     */
    $.spinner.show();
    // clear map and project layer
    municipalityLayer.clearLayers();
    projectLayer.clearLayers();
    $("#project-detail").empty();
    // determining if a filter was chosen
    var filterLen = 0;
    for (var i in filter) {
      filterLen++
    }
    if (filterLen === 1) {
      // show default municipal map
      $.getJSON(baseUrl + "/api/v1/municipalities/", 
        {"format": "json"},
        function (data) {
          $.renderMunicipalities(data.objects, municipalityLayer);
          $.spinner.hide();
          $("#filter-help").show();
      });
    } else {
      // query projects with filter
      $.getJSON(baseUrl + "/api/v1/projects/",
      filter,
      function (data) {
        var resultProjects = data.objects;
        var resultCount = data.meta.total_count;
        // search result header
        if (resultCount > 0) {
          var projectNoun = (resultCount === 1) ? "Project" : "Projects";
          $("<h2 class='searchresult'><a>" + resultCount + " " + projectNoun + " found:</a></h2>").appendTo("#project-detail");
          // FIXME: project list, copy of line 300, not ideal...
          $.each(resultProjects, function (key, project) {
            if (project.url !== "") project.name = "<a href='" + project.url + "' target='_blank'>" + project.name + "</a>";
            $("<h3>" + project.name + "</h3>").appendTo("#project-detail");
            if (project.thumbnail) $("<img class='thumbnail' src='" + project.thumbnail + "' width='160' height='120'>").appendTo("#project-detail");
            if (project.desc !== "") $("<p>" + project.desc.replace(/\r\n/g, "<br />").replace(/\n/g, "<br/>") + "</p>").appendTo("#project-detail");
          });
          // build municipal filter, prepend "projects__" or get by muni_id
          var muniFilter = {};
          var muniId = "";
          $.each(filter, function (filterKey, filter) {
            // this needs to be improved...
            if (filterKey !== "format" && filterKey !== "municipalities") {
              if (filterKey === "municipalities__subregion") {
                muniFilter["subregion"] = filter;
              } else {
                muniFilter["projects__" + filterKey] = filter;
              }
            } else if (filterKey === "municipalities") {
              muniId = filter + "/";
            } else {
              muniFilter[filterKey] = filter;
            }
          });
          // update permalink
          $("h2.searchresult a").attr("href", window.location.pathname + "?" + $.param(filter).replace("format=json&", ""));
          // query municipalities
          $.getJSON(baseUrl + "/api/v1/municipalities/" + muniId,
            muniFilter,
            function (data) {
              // render municipalities
              var municipalities = (muniId === "") ? data.objects : [data];
              $.renderMunicipalities(municipalities, municipalityLayer);
              $.spinner.hide();
              $("#filter-help").hide();
          });
        } else {
          $("<h2 class='searchresult'>No Projects found.</h2>").appendTo("#project-detail");
          $.spinner.hide();
          $("#filter-help").hide();
        }
        
      });
    }
  }

  // execute filter
  $(".mapfilter").keyup(function(e) {
    // enter key
    if(e.keyCode == 13) {
      $.searchProjects();
    }
  });
  $("#filter-btn").bind("click", function() {
    $.searchProjects();
  });

});

</script>

</body>
</html>
