{% extends "admin/change_form.html" %}

{% block after_related_objects %}
<script type="text/javascript">
    (function($){
        $(function(){

            // Strategies and Goals are read-only for user, but need to be saved with the form
            $("#id_strategies, #id_goals").prop("disabled", true);
            $(".strategies .c-2 .grp-help").text("Read-only field: Strategies are automatically selected with corresponding SubStrategies.");
            $(".goals .c-2 .grp-help").text("Read-only field: Goals are automatically selected with corresponding Subgoals.");
            $("#project_form").bind("submit", function(event) {
                $("#id_strategies, #id_goals").prop("disabled", false);
            });
            
            // Select Strategies with SubStrategies
            $("#id_substrategies").bind("change", function(event) {
                $("#id_strategies option:selected").removeAttr("selected");
                var strategies = [];
                $(this).children("option:selected").each(function() {
                    strategies.push($(this).text().split(".")[0]);
                });
                $("#id_strategies").val(strategies);
            });

            // Select Goals with Subgoals
            $("#id_subgoals").bind("change", function(event) {
                $("#id_goals option:selected").removeAttr("selected");
                $(this).children("option:selected").each(function() {
                    var pattern = /\((.+?)\)/g;
                    // returns '(CV)' for instance
                    var goal = pattern.exec($(this).text())[0];
                    $("#id_goals > option:contains('" + goal + "')").attr("selected", "selected");
                });
            });
            
            // Subregion Buttons
            $.getJSON("/filters/",
                function (data) {
                    $("<p class='grp-help'>Or select all municipalities in a subregion:</p>")
                        .css("margin", "10px 0")
                        .appendTo("div.municipalities div.c-2");
                    $.each(data.subregions, function (key, subregion) {
                        var $button = $("<a/>", {
                            id: subregion.abbr,
                            title: subregion.name,
                            style: "margin-right: 8px",
                            class: "grp-button",
                            text: subregion.abbr
                        })
                        .data("municipalities", subregion.municipalities.split(","))
                        .bind("click", function(event) {
                            event.preventDefault();
                            $("#id_municipalities").val($(this).data("municipalities"));
                        })
                        .appendTo("div.municipalities div.c-2");
                    });
            });

            // Equity information, not pretty but works
            $(".equity_comment .c-2 textarea").after("<p class='grp-help'>Does the project have components that directly impact federal- and state-identified protected classes?</p> \
            <table style='margin-top: 8px'> \
                <thead><tr> \
                    <th style='min-width: 100px'>Federal (FHA)</th> \
                    <th>State (MGL 151B) - all federal bases plus:</th> \
                </tr></thead> \
                <tr> \
                    <td><ul style='padding-left: 10px'> \
                        <li style='list-style: disc inside'>Race</li> \
                        <li style='list-style: disc inside'>Color</li> \
                        <li style='list-style: disc inside'>National Origin</li> \
                        <li style='list-style: disc inside'>Religion</li> \
                        <li style='list-style: disc inside'>Sex</li> \
                        <li style='list-style: disc inside'>Familial Status</li> \
                        <li style='list-style: disc inside'>Disability</li> \
                    </ul></td> \
                    <td><ul style='padding-left: 10px'> \
                            <li style='list-style: disc inside'>Ancestry</li> \
                            <li style='list-style: disc inside'>Age</li> \
                            <li style='list-style: disc inside'>Marital Status</li> \
                            <li style='list-style: disc inside'>Source of Income</li> \
                            <li style='list-style: disc inside'>Sexual Orientation</li> \
                            <li style='list-style: disc inside'>Gender Identity</li> \
                            <li style='list-style: disc inside'>Veteran History/ Military Status</li> \
                            <li style='list-style: disc inside'>Genetic Information</li> \
                    </ul></td> \
                </tr> \
            </table>");

        });

    }(django.jQuery));
</script>
{% endblock %}

