<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
<title>Get Involved in the MAPC Action Campaigns! | MetroFuture</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <!-- Additional IE/Win specific style sheet (Conditional Comments) -->
      <!--[if IE]>
      <style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/jstools/tabs/tabs-ie.css";</style>
      <![endif]-->
    
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/img_filter/img.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/modules/node/node.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/modules/system/defaults.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/modules/system/system.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/modules/user/user.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/cck/content.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/fckeditor/fckeditor.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/jstools/tabs/drupal-tabs.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/jstools/tabs/tabs.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/sites/all/modules/faceted_search/faceted_search_ui.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/themes/mfuture/style.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/themes/mfuture/layout.css";</style>
<style type="text/css" media="all">@import "http://www.metrofuture.org/themes/mfuture/typography.css";</style>
<script type="text/javascript" src="http://www.metrofuture.org/misc/jquery.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/misc/drupal.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/misc/progress.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/jstools/jstools.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/jstools/activesearch/activesearch.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/jstools/jquery.history_remote.pack.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/jstools/tabs/jquery.tabs.pack.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/jstools/tabs/tabs.js"></script>
<script type="text/javascript" src="http://www.metrofuture.org/sites/all/modules/image_caption/image_caption.js"></script>
<script type="text/javascript">Drupal.extend({ settings: { "jstools": { "cleanurls": true, "basePath": "/" }, "tabs": { "slide": false, "fade": false, "speed": "slow", "auto_height": false, "next_text": "next", "previous_text": "previous" } } });</script>

<!--[if gte IE 6]>
<style type="text/css">
#main {
  margin: 1em 0 0 0;
}
#block-menu_trim-2 ul.menu li a {
	font-size:1.0em;
}
#block-menu_trim-2 ul.menu li ul li a {
	font-size:0.9em;
}
#title {
margin-left: 20px;
margin-right: 20px;
}
.content h2
{  padding: 0 20px 0 20px; }
</style>
<![endif]-->


<style type="text/css">
  #map_canvas {
    width: 430px;
    height: 280px;
  }
</style>


</head>

<body>

<div id="wrapper">
<div id="bgcolumns">
<div id="header">

  <div id="branding">
        <a href="http://www.metrofuture.org/"><img src="http://www.metrofuture.org/themes/mfuture/images/header.jpg" /></a>
  </div>

  <div id="header-additional">
  <a href="http://www.mapc.org"><img src="http://www.metrofuture.org/themes/mfuture/images/mapc_logo.png" align="left" /></a>
  </div>
  
<div style="clear:right;float:right;text-align:right;">

    <div id="browse" class="container-inline">
		<div class="block block-block" id="block-block-45">
  <div class="content"><form>
    <input type="button" class="form-submit" value="Browse Recommendations" onClick="window.location='/actions'" />
</form>
</div>
</div>

	</div>    
	<form action="/search/node"  accept-charset="UTF-8" method="post" id="search-theme-form">
<div><div id="search" class="container-inline"><div class="form-item">
 <input type="text" maxlength="128" name="search_theme_form_keys" id="edit-search-theme-form-keys"  size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
</div>
<input type="submit" name="op" id="edit-submit" value="Search"  class="form-submit" />
<input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form"  />
</div>
</div></form>
  </div>


  <div id="menu">
      <ul class="links primary_menu"><li class="first menu-1-1-2"><a href="http://www.metrofuture.org/content/what-metrofuture" class="menu-1-1-2">What is MetroFuture?</a></li>
<li class="menu-1-2-2"><a href="http://www.metrofuture.org/content/metrofuture-scenario" class="menu-1-2-2">Our Goals</a></li>
<li class="menu-1-3-2"><a href="http://www.metrofuture.org/strategies" class="menu-1-3-2">Implementation Strategies</a></li>
<li class="menu-1-4-2"><a href="http://www.metrofuture.org/content/metrofuture-walks-and-talks" class="menu-1-4-2">MetroFuture Walks &amp; Talks</a></li>
<li class="menu-1-5-2"><a href="http://www.metrofuture.org/content/regional-events" class="menu-1-5-2">Regional Events</a></li>
<li class="menu-1-6-2"><a href="http://www.metrofuture.org/content/measuring-progress" title="Measuring Progress" class="menu-1-6-2">Measuring Progress</a></li>
<li class="menu-1-7-2-active"><a href="http://www.metrofuture.org/content/get-involved-mapc-action-campaigns" class="active menu-1-7-2-active active">Advocacy</a></li>
<li class="last menu-1-8-2"><a href="http://www.metrofuture.org/contact" class="menu-1-8-2">Contact</a></li>
</ul>    </div>

</div>

  <div id="breadcrumb"><div class="breadcrumb"><a href="http://www.metrofuture.org/">Home</a></div></div>

<div id="content">

<div id="sidebar-left" class="sidebar">

  <div class="block block-menu_trim" id="block-menu_trim-2">
  <div class="content">
    <h2 class="title"><span>Filter map by:</span></h2>

    <!-- MAP FILTERS -->
    <p>
        Municipality: 
        <select class="mapfilter" id="municipality">
          <option value="">-- Show all --</option>
        </select>
    </p>
    <p>
        Strategy: 
        <select class="mapfilter" id="strategy">
          <option value="">-- Show all --</option>
        </select>
    </p>
    <p>
        Goal: 
        <select class="mapfilter" id="goal">
          <option value="">-- Show all --</option>
        </select>
    </p>
    <p>
        Supergoal: 
        <select class="mapfilter" id="supergoal">
          <option value="">-- Show all --</option>
        </select>
    </p>

</div>
</div>

</div>

<div id="main">

  <h2 id="title">MetroFuture In Action Map</h2>
<div class="content">
<div id="map_canvas">map goes here</div>


<p>Project listing?</p>

</div>
</div>

<div id="sidebar-right" class="sidebar">
  <div class="block block-block" id="block-block-11">
  <div class="content">
    
    <p>Description about the map...</p>

  </div>

</div>

<div class="block block-block" id="block-block-62">
  <div class="content"><p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>

</div>

</div>


<div id="footer" class="footer">
  
<div class="block block-block" id="block-block-16">
  <div class="content"><p><strong>Metropolitan Area Planning Council </strong>| 60 Temple Place | Boston, MA 02111 | TEL 617.451.2770 | FAX 617.482.7185 | <a href="mailto:metrofuture@mapc.org">metrofuture@mapc.org</a></p>
</div>
</div>

<div class="block block-block" id="block-block-1">
  <div class="content"><p><a href="http://www.metrofuture.org/home">home</a> | <a href="http://www.metrofuture.org/contact">contact us</a> | <a href="http://www.metrofuture.org/user">login</a></p>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6941372-2");
pageTracker._trackPageview();
} catch(err) {}</script></div>
</div>

</div>

</div>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 

<script type="text/javascript">

$(document).ready(function() {
  
  var baseUrl = "http://127.0.0.1:8000";
  var locations = [];
  var projectMarkers = {};
  var projectPopups = {};

  var mapOptions = {
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
 
  var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

  // load filter options
  $.getJSON(baseUrl + "/projects/filters/", function(filters) {
    
    $.each(filters, function(key, filter) {
      $("<option value='" + filter["id"] + "'>" + filter["name"] + "</option>").appendTo("#" + filter["type"]);
    });

    $("#municipality, #strategy, #goal, #supergoal").change(function () {

      var filterParam = {};

      // get filter parameters
      $.each($(".mapfilter option:selected"), function(key, filter) {
        if ($(filter).val() !== "") filterParam[$(filter).parent().attr("id")] = $(filter).val();
      });

      getProjects(filterParam);
    });

    // set index to top option
    $("#municipality, #strategy, #goal, #supergoal").val(""); 

  });

  
  // loads all project or only one
  var getProjects = function (param) {

    $.getJSON(baseUrl + "/projects/", 

      param, 
      
      function(projects) {

        // reset markers
        for (i in projectMarkers) {
          projectMarkers[i].setMap(null);
        }
        projectMarkers = {};
        projectPopups = {};
        locations = []; // point list for calculating extent

        $.each(projects, function(key, project) {
          // add project location to list
          locations[key] = new google.maps.LatLng(project.lonlat[1], project.lonlat[0]); 
          // add  marker
          projectMarkers[project.id] = new google.maps.Marker({
            map: map,
            title: project.name,
            position: locations[key]
          });

          // add info window
          projectPopups[project.id] = new google.maps.InfoWindow({
            content: "<strong>" + project.name + "</strong><br>Municipalities: " + project.municipalities.join(", ")
          });

          // add event listener on marker for infowindow
          google.maps.event.addListener(projectMarkers[project.id], 'click', function() {
            projectPopups[project.id].open(map, projectMarkers[project.id]);
          });

        });

        // zoom to marker extent
        if (locations.length > 0) setMapBounds(locations);

        // minimum zoom if only one project
        if (locations.length === 1) map.setZoom(12);
    });

  }

  // receives an array of points and adjusts the map extent accordingly
  var setMapBounds = function (points) {
    
    var mapbounds = new google.maps.LatLngBounds();
    $.each(points, function(index, point) { 
      mapbounds.extend(point);
    });
    map.fitBounds(mapbounds);
    return mapbounds
  }

  getProjects();

});

</script>

</body>
</html>
